#about{
    background-color: var(--light-blue);
    display: flex;
    width: 100%;
    justify-content: center;
}

#about__container{
    width: 80%;
    padding: 64px 0px;
}

.about__text{
    font-size: clamp(2rem, 2vw, 3rem);
    padding-bottom: 16px;
}

.about__description{
    font-weight: 200;
    width: 70%;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
}