@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
}

#navbar{
    font-family: "Raleway";
    width: 80%;
    padding: 34.5px 0px;
}

#navbar ul {
    display: flex;
}

#navbar ul li:first-child{
    width: 50%;
}

#navbar ul{
    gap: 32px;
}

#navbar ul li{
    list-style: none;
}

#navbar__nome{
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 100%;
}

#navbar__nome > img{
    padding-right: 10px;
}

#navbar ul li:last-child{
    font-weight: 600;
}